
<div class="row">

	<div class="col-md-10">

		<div class="panel panel-default">
			<div class="panel-body">

			<form class="form-inline">
				<div class="form-group">
					<label for='wine-filter'>Search</label>
					<input id='wine-filter' type="text" class='form-control' ng-model='wineFilter'  />
				</div>
			</form>
			
			</div>
		</div>

	</div>

</div>

<div class='row'>

	<div id='wine-list' class='col-md-4'>
		<h1>Wines</h1>
		<span ng-show='wineFilter'>
			<p class="bg-success">{{results.length}} results for {{wineFilter}}</p>
		</span>
		<div class="btn-group-vertical" role="group">
			<span class="btn btn-default" ng-repeat='wine in wineList | filter:wineFilter as results' ng-click='selectWine(wine)'>
				{{wine.name}}
			</span>
		</div>
	</div>


	<div id='wine-detail' class='col-md-6'>

		<h2>Details</h2>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class='form-group'>
						<label for='wine-id' class='col-md-2'>Id</label>
						<div class="col-md-10">
							<input id='wine-id' class='form-control' type='text' value='{{selectedWine.id}}' />
						</div>
					</div>
					<div class='form-group'>
						<label for='wine-name' class='col-md-2'>Name</label>
						<div class="col-md-10">
							<input id='wine-name' class='form-control' type='text' value='{{selectedWine.name}}' />
						</div>
					</div>
					<div class='form-group'>
						<label for='wine-country' class='col-md-2'>Name</label>
						<div class="col-md-10">
							<input id='wine-country' class='form-control' type='text' value='{{selectedWine.country}}' />
						</div>
					</div>
					<div class='form-group'>
						<label for='wine-region' class='col-md-2'>Region</label>
						<div class="col-md-10">
							<input id='wine-region' class='form-control' type='text' value='{{selectedWine.region}}' />
						</div>
					</div>
					<div class='form-group'>
						<label for='wine-year' class='col-md-2'>Year</label>
						<div class="col-md-10">
							<input id='wine-year' class='form-control' type='text' value='{{selectedWine.year}}' />
						</div>
					</div>
					<div class='form-group'>
						<label for='wine-notes' class='col-md-2'>Notes</label>
						<div class="col-md-10">
							<input id='wine-notes' class='form-control' type='textarea' value='{{selectedWine.name}}' />
						</div>
					</div>	
					<input class="btn btn-default" type="button" value="Save" />
					<input class="btn btn-default" type="button" value="Delete" />
				</form>
			</div><!-- end panel body -->

		</div><!-- end panel-->

	</div>

</div>
